# Sample file for environment keys

# Personal API Keys
WANDB_API_KEY=<your-wandb-key>
HF_READ_TOKEN=<huggingface-key-with-read-permissions>
KAGGLE_KEY=<your-kaggle-key>

# Contact Details
API_CONTACT_EMAIL=<your-contact-email-for-rag-harvester>
KAGGLE_USERNAME=<your-kaggle-username>